@import url('https://fonts.googleapis.com/css2?family=Andika&family=Lobster&display=swap');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100);

@font-face {
	font-family: "OpenDyslexic";
	src:url("../media/OpenDyslexic3-Regular.woff2") format("woff2");
}

* {
margin: 0;
font-family: 'Andika', sans-serif;
box-sizing: border-box;
}

html{
	height: 100%;
}

body {
text-align: justify;
font-size: 30px;
margin: auto;
position:relative;
min-height: 100%;
background:url('../media/nounours/background-labo.svg') no-repeat;
background-size:cover;
background-attachment:fixed;
color:#FFF;
//background-color: #bde0ff;
//color: #FF00FF;
}

address {
//line-height:17px;
}

/**************************/
/* les divisions du texte */
/**************************/

/* Grand titre des pages */

.navbar-default {
    background-color: #2B3F5E;
	border-color: transparent;
}

/* Style Navigation */
.navbar {
 min-height: 70px;
 padding-top: 10px;
 margin-bottom: 0px;
}

.navbar-brand {
 font-weight: 900;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
 color: white;
 font-weight: 700;
 font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
 color: rgba(172, 186, 191, 0.82);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: rgba(172, 186, 191, 0.82);
 background: transparent;
}



/* Bas de page*/
#disclaimer{
	margin-top: 10px;
	//background-color: #A80532;
	color: #FFFFFF;
	text-align:center;
	#position: fixed;
	bottom: 0;
	width:100%;
	min-height:100px;
}

#disclaimer a{
	color: #AAA;
}

#disclaimer h1{
	font-family: 'Lobster';
	color:#FFF;
}

/* Menu */
#navigation {
position: fixed;
font-size: 10px;
margin-right: 15px;
margin-bottom: 15px;
margin-top: 55px;
width: 110px;
float: left;
background-color: #90A7C9;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 3px;
padding-right: 3px;
-moz-border-radius : 0px 20px 0px 20px;
}
	#navigation h1{
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	}

	#navigation a:link{
	color: #000000;
	}

	#navigation a:visited{
	color: #000000;
	}

	#navigation a:hover{
	font-weight: bold;
	}

	#navigation a:active{
	color: #CD403A;
	font-weight: bold;
	}

	#navigation li{
	text-align: center;
	padding: 5px;
	}

	#navigation p{
	padding-top: 15px;
	padding-bottom: 15px;
	}

	#navigation #current{
  background: url(../images/blue.jpg);
	-moz-border-radius : 0px 10px 0px 10px;
	}

		#navigation #current a{
		color: #FFFFFF;
		}

#content {
//background-color: #FFFFFF;
font-size: 1em;
padding: 20px 120px 0 120px;
-moz-border-radius : 20px 20px 20px 20px;
}

.ContentText{
	background-color: #AAA9;
}

.bouton-enquete{
	margin: 0 auto;
	text-align:center;
}

.btn{
	background-color: #FFF;
}

.btn-outline-primary{
	color:#FFF !important;
	background-color: #A80532 !important;
}

.btn-outline-primary:hover{
	color:#A80532 !important;
	border-color: #A80532 !important;
}

audio{
	background: #A80532;
}

#content h1, #content h1 a{
	font-family: 'Lobster';
	color:#A80532;
	font-size:2em;
	text-align:center;
	//text-transform: uppercase;
}

	#content h2{
	font-weight: normal;
	color: green;
	font-size: 21px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: left;
	}

	#content h3{
	font-weight: normal;
	color: red;
	font-size: 21px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: left;
	}

	h5.card-title{
		color:#A80532;
		font-size:1.3em;
		text-align: center;
	}


	#content li{
	text-align: left;
	padding: 1px;
	margin-left: 20px;
	}

	#content p{
	padding-top: 5px;
	padding-bottom: 5px;
	//line-height:17px;
	}

	#content li{
	list-style-type: circle;
	}

	#content a:hover{
		text-deocoration : underline;
	}


.card{
	//margin:5px;
}

.cercle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

.cerclevert{
	background: green;
}

.cerclejaune{
	background: yellow;
}

.cerclerouge{
	background: red;
}

.cerclebleu{
	background: blue;
}

.versinia{
	width:100px !important;
	height:100px !important;
	display: inline-block;
	border-radius:50%;
	padding:5px;
	margin: 5px auto;
}

.aligner_radio_toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.aligner_radio_toolbar label {
    display: block;
    background-color: #ddd;
    padding: 10px 20px;
    border: 2px solid #444;
    border-radius: 4px;
}

.aligner_radio_toolbar input[type="radio"]:checked + label {
    background-color: #525252;
}

.aligner_radio_toolbar input[type="radio"].disabled + label {
    background-color: #000000;
}

#sub {
text-align: center;
font-size: 10px;
}

	#sub a:link{
	color: #cc0000;
	}

	#sub a:visited{
	color: #cc0033;
	}

	#sub a:hover{
	color: #cc0066;
	}

	#sub a:active{
	color: #ff0033;
	}


#head {
font-size: 12px;
}

	#head h1{
	font-size: 1.1em;
	text-align: center;
	}

	#head h2{
	border-bottom-width: 0;
	border-bottom-style: none;
	font-size: 16px;
	text-align: center;
	}



/**********/
/* Les images */
/**********/

img {
margin-right: 0px;
margin-left: 0px;
border:0;
}


/*************************************/
/* Les tableaux et les sous tableaux */
/*************************************/

table {
width : 100%;
border: 5px;
padding: 6px;
}

td {
text-align: left;
vertical-align: top;
padding: 1px;
}

/************************************/
/* Mise en évidence dans les textes */
/************************************/
em {
text-decoration: underline;
}


ul {
padding-left: 0;
}

li {
list-style-type: none;
}


/**************/
/* Les images */
/**************/

.Ti {
text-align: left;
font-size: 10px;
}

.Ct {
text-align: center;
}

img {
vertical-align: middle;
text-align: center;
}

.images {
vertical-align: left;
text-align: center;
}

.centrer{
text-align:center;
}

.alignement{
	#line-height: 1em !important;
	margin-bottom: 0;
}

.a, .c, .g, .t, .z, .A, .C, .G, .T, .Z{
	font-family:monospace;
	font-size:18px;
	letter-spacing: 2px;
	margin-top:2px;
}

.a, .A, .a a, .A a{
color:red;
}
.c, .C, .c a, .C a{
color:blue;
}
.g, .G, .g a, .G a{
color:orange;
}
.t, .T, .t a, .T a{
color:green;
}
.z, .Z, .z a, .Z a{
color:grey;
}

.Z2, .C2, .A2, .GC, .T2{
	font-size:30px;
	font-family: monospace;
}

.Z2{
	color:grey;
}
.C2{
	color:blue;
}
.G2{
	color:orange;
}
.T2{
	color:green;
}
.A2{
	color:red;
}
